@model FakeZuydInlog.Models.Inlog
@{
    ViewData["Title"] = "Home Page";
}


@section head{
    <style type="text/css">
        body {
            background-image: url('/Media/ZuydInlog.png');
            margin: 0;
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: cover; /* Resize the background image to cover the entire container */
        }

        transparent-input {
            background-color: rgba(0,0,0,0) !important;
            border: none !important;
           
        }
        
    </style>
}

<body>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group" style="margin-top: 21%; max-width: 28%; margin-left:36%; border: none">
            <input asp-for="Gebruikersnaam" class="form-control" />
            <span asp-validation-for="Gebruikersnaam" class="text-danger"></span>
        </div>
        <div class="form-group" style="max-width: 28%; margin-left:36%; border: none">
            <input asp-for="Wachtwoord" class="form-control" />
            <span asp-validation-for="Wachtwoord" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Next" class="btn btn-primary" style="font-size: 12pt; padding-left:3%; padding-right:3% ;max-width:9%; margin-left:55%; margin-top:4.5%" />
        </div>
    </form>
</body>

